@model Entidad.EmpleadoVM

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Nombre Completo
        </dt>

        <dd>
            @Model.NombreCompleto;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>

        <dt>
           Departamento
        </dt>

        <dd>
           @Model.NombreDepartamento
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar Empleado", "Editar", new { id = Model.EmpleadoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
